<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFICINA DE VUEJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js" defer></script>
    <style>
        body {
            color: rgb(255, 155, 172);
        }
    </style>
</head>
<body>
    <div id="app">
        <p>{{mensagem}}</p>
        <h1>{{nome}}</h1>
        <input type="text" v-model="nome">

        <h1>{{jogo}}</h1>
        <input type="text" v-model="palavra">
        <div v-show="palavra != '' "> <!-- visualização condicional -->
            <p v-if="palavra == palavraCorreta">Acertou a palavra!😁</p>
            <p v-else>Errou a palavra😢</p>
        </div>
    </div>
</body>
</html>